@model Cart

@{
    ViewData["Title"] = "deleteCart";
}

<h1>@Model.CartID</h1>
<h1>@Model.EmailUser</h1>
<h1>@Model.</h1>


<form method="post" asp-controller="Carts" asp-action="ConfirmDeleteCart" asp-route-id="@Model.CartID">
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
</form>