@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_Layoutlogin.cshtml";
}

<h1>@ViewData["Title"]</h1>
<head>
    <title>Login V2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link href=""
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/mainlogin.css">
    <!--===============================================================================================-->
</head>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span class="login100-form-title p-b-26">
                        Welcome
                    </span>
                    <span class="login100-form-title p-b-48">
                        <i class="zmdi zmdi-font"></i>
                    </span>
                    <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                         <input asp-for="Input.Email" class="input100" autocomplete="username" aria-required="true" placeholder="Email"/>
                         <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input asp-for="Input.Password" class="input100" autocomplete="current-password" aria-required="true" placeholder="Passwor"/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button id="login-submit" type="submit" class="login100-form-btn">Log in</button>
                        </div>
                    </div>
                </form>
                <div class="text-center p-t-115">
                    <span class="txt1">
                        Forgot your
                    </span>
                    <a class="txt2" id="forgot-password" asp-page="./ForgotPassword">password?</a>
                </div>
                <div class="text-center p-t-115" style="padding: 0;">
                    <a class="txt2" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register </a>
                    <span class="txt1">
                        as a new user
                    </span>
                </div><div class="text-center p-t-115" style="padding: 0;">
                    <a class="txt1" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    <!--<a class="txt2" href="/">
                        HomePage
                    </a>-->
                </div>
            </div>
        </div>
    </div>
